<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		#background{
			background-color: #A7DCE1;
		}

		#maincolor{
			color: #3C604F;
		}

		#wrapper{
			margin-left: auto;
			margin-right: auto;
			display: block;
			vertical-align: middle;
			margin-top: 200px;
		}
		#btn{
			width: 100px;
			height: 100px;
		}
		#box{
			margin-left: 40%;
			}
		#title{
			margin-left: auto;
			margin-right: auto;
			display: block;
			vertical-align: middle;
			height: 200px;

		}
	
	</style>

	<title></title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
<script src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
</head>
<body id="background">

	<!-- 네비게이션 바 -->
	<nav>
		<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" id="maincolor" href="#">HOME</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" id="maincolor" aria-expanded="false">MARKET</a>
    <div id="background" class="dropdown-menu">
      <a class="dropdown-item" id="maincolor" href="#">의류</a>
      <a class="dropdown-item" id="maincolor" href="#">잡화.신발</a>
      <a class="dropdown-item" id="maincolor" href="#">화장품</a>
      <a class="dropdown-item" id="maincolor" href="#">문구류</a>
      <a class="dropdown-item" id="maincolor" href="#">전자제품</a>
      <a class="dropdown-item" id="maincolor" href="#">기타</a>
      <div class="dropdown-divider" id="maincolor"></div>
      <a class="dropdown-item" id="maincolor" href="#">제품등록</a>
      <a class="dropdown-item" id="maincolor" href="#">제품요청</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="maincolor" href="#">CART</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" id="maincolor" aria-expanded="false">MYPAGE</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" id="maincolor" href="#">쪽지</a>
      <a class="dropdown-item" id="maincolor" href="#">내 상품</a>
      <div class="dropdown-divider" id="maincolor"></div>
      <a class="dropdown-item" id="maincolor" href="#">로그인</a>
      <a class="dropdown-item" id="maincolor" href="#">로그아웃</a>
      <a class="dropdown-item" id="maincolor" href="#">설정</a>
    </div>
  </li>
</ul>
	</nav>

<!-- 점보트론 -->
	<div style="height: 300px;">
  		<img src="/images/jumbo.png" width="300px" id="wrapper" alt="">
	</div>
	<footer style="height: 300px">
		<div id="box">
			<a href="/account/login"><img id="btn" align="center" src="images/login.png"></img></a>
			
			<img align="center" style="margin-left: 50px" id="btn" src="images/signup.png"></div>
		<div id="box" style="margin-top:100px">덕성여자대학교 중고거래 마켓 플랫폼</div>
	</footer>
</body>
</html>