<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
<script src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-light fixed-top">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a hrefr="#">jinyoung</a>
			</li>
		</ul>
	</div>
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" href="#">hello</a>
		</li>

		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">hello</a>
			<div class="dropdown-menu">
				<a href="#" class="dropdown-item">서브1</a>
				<a href="#" class="dropdown-item">서브1</a>
				<a href="#" class="dropdown-item">서브1</a>
			</div>
		</li>


	</ul>
</nav>

<!-- <nav>
	<ul class="nav nav-pills">
		<li>
			<a href="#">HOME</a>
		</li>

		<li class="dropdown">
			<a class="dropdown-toggle"
			data-toggle="dropdown" 
			href="#">
		MARKET
		<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<a href="#">.  dmdkr</a>
		</ul>
		</li>

		<li><a href="#">CART</a></li>
		<li><a href="#">MYPAGE</a></li>
	</ul>
</nav> -->
</body>
</html>